<div>
    <h2>Bay Area Players</h2>
    <ul>
        <li ng-repeat="player in players">{{ player.first_name }} {{ player.last_name }} - <button ng-click="deletePlayer(player.id)">Delete Player</button></li>
    </ul>
</div>

<div>
	<h2>Add New Player</h2>
	<p>
		<label>First Name:</label>
		<input ng-model="newPlayer.player.first_name" type="text">
	</p>
	<p>
		<label>Last Name:</label>
		<input ng-model="newPlayer.player.last_name" type="text">
	</p>
	<p>
		<label>Team:</label>
		<select name="Team" ng-model="newPlayer.player.team_id">
			<option  ng-repeat="team in teams" value="{{team.id}}">{{ team.name }}</option>
		</select>
	</p>
	<input ng-click="createPlayer()" type="submit" value="Create Player">
</div>

